.list{
  width: 100%;
  height: 100%;
  .search{
    display: flex;
    flex-wrap: wrap;
    .antCol{
      padding: 0 12px;
      width: calc(100% / 4);
      // flex: 0, 1, auto;
    }
    &:last-child{
      justify-content: flex-end;
    }
  }
  .table{
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    // overflow-x: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    p{
      height: 40px;
      font-size: 18px;
    }
    div{
      flex: 1;
      overflow-x: auto;
    }
  }
}