.form{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}
.formItem{
    width: calc(100%/3);
    padding-right: 20px;
    box-sizing: border-box;
    
}