
.paperCreate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F0F2F5;
}
.body{
    padding: 20px;
    background: #fff;
    .content{
        // flex: 1;
        width: 800px;
        min-height: 300px;
        text-align: center;
        border-radius: 10px;
        margin-top: 16px;
        
        margin-bottom: 20px;
    }
}

.first,.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .form{
        min-width: 300px;
    }
}

